{% extends "base.html" %}

{% block content %}
    <h1>Stocks </h1>
    <form action="" method="post" novalidate>
        <div>
	    <a href="stocks/FB">FB</a>
	    <a href="stocks/MSFT">MSFT</a>
	    <a href="stocks/AMZN">AMZN</a>
	    <a href="stocks/GOOG">GOOG</a>
	    <a href="stocks/AAPL">AAPL</a>
	    <a href="stocks/GE">GE</a>
	    <a href="stocks/UBER">UBER</a>
	    <a href="stocks/SBUX">SBUX</a>
	    <a href="stocks/COKE">COKE</a>
	    <a href="stocks/NKE">NKE</a>	    
	    	    	
	</div>
    </form>
    
{% endblock %}